body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    filter: brightness(30%);
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.kep_szoveg{
position: absolute;
top: 35%; 
left: 25%; 
transform: translate(-50%, -50%);
text-align: center; 
font-size: 58px; /* Szöveg mérete */
color: white;
font-style: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

